body{
font-family:'Segoe UI',sans-serif;
background:#f8fafc;
}

.custom-nav{
background:#0f172a;
}

.hero{
padding:160px 20px 120px;
text-align:center;
color:white;
background:
linear-gradient(
135deg,
#0f172a,
#2563eb);
}

.hero h1{
font-size:3.5rem;
font-weight:700;
}

.hero p{
font-size:1.2rem;
margin-top:20px;
}

.section{
padding:90px 0;
}

.title{
text-align:center;
margin-bottom:50px;
font-weight:700;
}

.feature-card{

background:white;

padding:30px;

border-radius:15px;

text-align:center;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

transition:.3s;
}

.feature-card:hover{

transform:translateY(-8px);
}

.workflow{
background:#eef2ff;
padding:90px 0;
}

.step{

background:white;

padding:30px;

border-radius:15px;

font-weight:600;

box-shadow:
0 5px 20px rgba(0,0,0,.08);
}

.upload-card{

background:white;

padding:40px;

border-radius:20px;

max-width:700px;

margin:auto;

box-shadow:
0 10px 40px rgba(0,0,0,.08);
}

.result-card{

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:
0 10px 40px rgba(0,0,0,.08);
}

.progress{

height:35px;

border-radius:20px;
}

footer{

background:#0f172a;

color:white;

padding:40px;

margin-top:80px;
}